.detailContainer {
    align-items: center;
    background-color: green;
    width: 180px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    display: flex; /* Utiliza flexbox para centrar verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    flex-direction: column;
    }